<style>:root {--pays:{{COULEUR_PAYS}}}</style><div class="fiche_prez" style="max-width: 759px;"><!--
--><div class="titre1">人物紹介</div><!--
--><div class="titre2">{{TITRE_NOM}}</div><!--
--><div class="sg-divider" style="margin: 20px;"><span class="sg-divider__line"></span><span class="sg-divider__diamond"></span><span class="sg-divider__line"></span></div><!--

--><div class="ban_id"><!--
--><h4>01 | Identité</h4><!--
--><h3>身元</h3><!--
--></div><!--

--><div class="ident"><!--
--><div class="info_id"><!--
--><div class="line_id"><span>Nom</span><i>{{NOM}}</i></div><!--
--><div class="line_id"><span>Prénom</span><i>{{PRENOM}}</i></div><!--
--><div class="line_id"><span>Age</span><i>{{AGE}}</i></div><!--
--><div class="line_id"><span>Clan</span><i>{{CLAN}}</i></div><!--
--><div class="line_id"><span>Rang</span><i>{{RANG}}</i></div><!--
--><div class="line_id"><span>Zone</span><i>{{ZONE}}</i></div><!--
--></div><!--
--><img class="avat_id" src="{{AVATAR}}"/><!--
--></div><!--

--><div class="ban_id"><!--
--><h4>02 | Traits Particuliers</h4><!--
--><h3>特徴</h3><!--
--></div><!--

--><div class="physique"><!--
--><div class="phys_id"><h5>Taille et Poids</h5><i>{{TAILLE_POIDS}}</i></div><!--
--><div class="phys_id"><h5>Autres</h5><i>{{AUTRES}}</i></div><!--
--></div><!--

--><div class="ban_id"><!--
--><h4>03 | Caractère</h4><!--
--><h3>性格</h3><!--
--></div><!--

--><div class="chara_id"><!--
--><p>{{CARACTERE}}</p><!--
--></div><!--

--><div class="ban_id"><!--
--><h4>04 | Chronologie</h4><!--
--><h3>年代記</h3><!--
--></div><!--

--><div class="chrono_id"><!--
-->{{#each:CHRONO_EVENTS}}<div class="block_chrono"><div><h5>{{an}}</h5></div><div><span class="sg-divider__diamond"></span></div><p>{{texte}}</p></div>{{/each:CHRONO_EVENTS}}<!--
--></div><!--

--><div class="part_joueur"><!--
--><img class="img_joueur" src="{{IMG_JOUEUR}}" /><!--
--><div class="info_joueur"><!--
--><span><strong>Pseudo :</strong> {{PSEUDO}}</span><!--
--><span><strong>D'où t'as connu le forum ?</strong> {{CONNU_FORUM}}</span><!--
--><span><strong>Des suggestions ?</strong> {{SUGGESTIONS}}</span><!--
--></div><!--
--></div><!--
--></div><link rel="stylesheet" href="https://dl.dropbox.com/scl/fi/8zv945s32chf29epg0dwx/pr-sentation_snj.css?rlkey=jrz4cf138nttoosp0nfpmembl&st=j5spsvdu&raw=1">
