<div class="fiche_gen"><!--
--><div class="en_tete_gen" style="border-bottom: 1px solid var(--sg-ink-700)"><!--
--><div class="en-tete-kanji">御触書</div><!--
--><h2>Félicitations !</h2><!--
--><div class="sg-divider" style="margin: 20px;"><span class="sg-divider__line"></span><span class="sg-divider__diamond"></span><span class="sg-divider__line"></span></div><!--
--></div><!--

--><div style="padding: 15px 25px;"><!--
--><div style="text-align: center; color: var(--sg-paper-200);">Salut Noisy !

Tout est bon pour nous, ta fiche de présentation est validée !

Voici le lien de ta <a href="https://sengoku-no-jidai.forumactif.com/t206-fiche-technique-d-hideyoshi-manme">fiche technique</a>, tu peux dès à présent nous faire part de tes choix.

Amuse-toi bien au sein de Sengoku no Jidai !</div><!--
--></div><div class="pied_gen">Sengoku no Jidai — Administration</div></div>
<style>.fiche_gen {width: 80% !important;}</style><link rel="stylesheet" href="https://dl.dropbox.com/scl/fi/5kl5mk2kbuba5bquza5ft/reglement_snj.css?rlkey=xmnksx1sy9zu84hxzhfksu0pv&st=v3qnje37&raw=1">