<div class="desc_tech rang_{{RANG}}"><!--
--><img class="img_inv_tech" src="{{IMAGE}}" /><!--
--><div style="padding: 15px;"><h4>{{NOM}}</h4><!--
--><h5>{{TYPE}}</h5><!--
--><div class="line_id"><span>Domaine/capacité</span><i>{{DOMAINE}}</i></div><!--
--><div class="line_id"><span>Rang</span><i>{{RANG}}</i></div><!--
--><div class="line_id"><span>Portée</span><i>{{PORTEE}}</i></div><!--
--><div class="line_id"><span>Chakra</span><i>{{CHAKRA}}</i></div><!--
--><p>{{DESCRIPTION}}</p></div><!--
--></div>
<link rel="stylesheet" href="https://snj-base-de-donnees.vercel.app/css/fiche_tech_snj.css">
